* {
  box-sizing: border-box;
}

@font-face {
  font-family: eurof55;
  src: url(../font/eurof55.ttf);
}
@font-face {
  font-family: Lato-Bold;
  src: url(../font/Lato-Bold.ttf);
}
@font-face {
  font-family: Lato-Regular;
  src: url(../font/Lato-Regular.ttf);
}
@font-face {
  font-family: Champagne-Limousines;
  src: url(../font/Champagne\ &\ Limousines.ttf);
}

html {
  font-family: Lato-Regular;
  color: #606060;
}

body {
  margin: 0;
  font-size: 1rem;
  background-color: #ffffff;
}

h2 {
  font-size: 2rem;
  margin: 0;
}

.card-img {
  width: 100%;
  max-width: 470px;
}

.font-logo {
  font-family: eurof55;
  font-size: 2.5rem;
  text-transform: capitalize;
}

/* LAYOUT */

.main-container {
  max-width: 981px;
  margin: 0 auto;
  border: 1px solid lightgray;
}

.card {
  margin-bottom: 80px;
}

.card-txt-container {
  flex-direction: column;
  flex-basis: 50%;
  margin-left: 20px;
}

.card > * {
  display: flex;
  flex-basis: 50%;
}

.card-image {
  margin-right: 20px;
}

.header-bg {
  background-color: #292929;
  border-bottom: 3px solid black;
}

.main-container > .card {
  margin-top: 140px;
}

.main-nav a {
  color: #ffffff;
  text-decoration: none;
  font-family: eurof55;
  font-weight: bold;
  font-size: 1em;
  padding: 60px 44px;
  border-right: 1px solid black;
}

.open-dropdown >a {
  border-left: 1px solid black;
}

.main-nav a:hover {
  color: rgb(126, 204, 9);
  box-shadow: 0px -10px 0px -1px rgb(126, 204, 9) inset;
  -webkit-box-shadow: 0px -10px 0px -1px rgb(126, 204, 9) inset;
  -moz-box-shadow: 0px -10px 0px -1px rgb(126, 204, 9) inset;
}

.main-header {
  height: 131px;
  color: #ffffff;
  justify-content: flex-end;
  border: none;
}
.header-logo {
  justify-self: flex-start;
}

.dot {
  color: green;
}

.paging {
  font-family: Champagne-Limousines;
  font-weight: bold;
  font-size: 1.125rem;
  height: 73px;
  padding: 0 30px;
}

.footer-container {
  height: 316px;
  background-color: #f8f8f8;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* HELPERS */

.flex {
  display: flex;
}

.bcg {
  background-color: #606060;
}

.space-between {
  justify-content: space-between;
}

.flex-space-around {
  justify-content: space-around;
}

.continue-btn {
  justify-content: center;
  padding: 13px 25px;
  width: 190px;
  max-height: 44px;
  border: 1px solid rgb(184, 184, 184);
  color: rgb(172, 171, 171);
  border-radius: 22px;
  text-align: center;
  font-family: Lato-Bold;
  background-color: white;
}

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.align-items-center {
  align-items: center;
}

.prev-img {
  margin-right: 10px;
}
.next-img {
  margin-left: 10px;
}

.footer-img {
  height: 41px;
}

.logo-footer {
  font-size: 2.5rem;
}

.continue-btn:hover {
  color: #58c93a;
  cursor: pointer;
  border: 1px solid #58c93a;
}

.hide {
  display: none;
}

.arrows {
  margin-inline-start: 1.2px;
}

.copy-rights {
  font-family: Champagne-Limousines;
  color: #a6a6a6;
}

.facebook :hover {
  background-color: #385898;
}

.twitter :hover {
  background-color: #2962ff;
}

.instagram :hover {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.linkedin :hover {
  background-color: rgb(40, 103, 178);
}

.menu-btn {
  display: none;
}
.x-btn {
  visibility: hidden;
  border: none;
  cursor: pointer;
  transition: background-color 0.5s, color 0.5s;
}

.modal-screen {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(77 78 78 /60%);
  justify-content: center;
  align-items: center;
  color: rgb(39, 35, 35);
}

body.modal-open .modal-screen {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  height: 400px;
  width: 400px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 400px 11px rgba(253, 253, 253, 0.75);
  -webkit-box-shadow: 0px 0px 400px 11px rgba(251, 251, 251, 0.75);
  -moz-box-shadow: 0px 0px 400px 11px rgba(251, 250, 250, 0.75);
  border-radius: 5px;
}
form {
  display: flex;
  flex-direction: column;
}

.modal-content p {
  color: rgb(108, 109, 107);
}

.modal-btn {
  background-color: rgb(76, 77, 75);
  border: none;
  color: white;
  padding: 13px 20px;
  text-align: center;
  font-size: 1rem;
  margin: 6px;
  cursor: pointer;
  border-radius: 5px;
}

.Sumbit-btn {
  margin-top: 20px;
}

.dropdown {
  flex-direction: column;
  overflow: hidden;
  justify-content: center;
  background-color: rgb(42, 39, 39);
  height: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  transition: height 1s;
  top: 132px;
  width: 129px;
 
}

.open-dropdown:hover .dropdown {
  opacity: 1;
  height: 100px;
  width: inherit;
  top: 132px;
  width: 129px;
}

@media (max-width: 1060px) {
  .main-container {
    max-width: 760px;
  }

  .main-header {
    max-width: 760px;
  }
  .main-nav {
    margin-inline-start: 80px;
  }

  .card-img {
    width: 100%;
    max-width: 420px;
  }

  .main-container > .card {
    margin-top: 40px;
  }

  .card {
    margin-bottom: 50px;
  }
}

@media (max-width: 760px) {
  .header-bg {
    max-width: 760px;
  }

  .main-container {
    max-width: 720;
  }

  .main-header {
    max-width: 560px;
  }

  .main-nav {
    margin-inline-start: 40px;
  }
  .card {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .card-txt-container {
    max-width: 420px;
  }

  .main-nav {
    position: fixed;
    flex-direction: column;
    height: 100vh;
    right: 0;
    top: 0;
    background-color: rgb(255 255 255/90%);
    box-shadow: none;
    transform: translateX(100%);

    transition: transform 0.8s, box-shadow 0.8s;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    box-shadow: -4px 0px 15px 0px #dcdcdc;
  }

  .main-nav a {
    display: flex;
    top: 20px;
    width: 150px;
    flex-direction: column;
    color: #0e0c0c;
    border-bottom: 1px solid rgb(204, 199, 199);
    border-right: none;
    padding: 12px 10px;
    transition: background-color 0.5s, color 0.5s;
  }
  .main-nav a:hover {
    box-shadow: -4px 0px 15px 0px #dcdcdc;
    background-color: #9e9e9e;
    color: white;
  }
  .main-nav .x-btn:hover {
    box-shadow: -4px 0px 15px 0px #dcdcdc;
    background-color: #9e9e9e;
    color: white;
  }

  ul > :first-child a {
    border-left: none;
  }

  .main-screen {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(0 0 0 / 30%);
    cursor: pointer;
  }

  body.menu-open .main-screen {
    opacity: 1;
    visibility: visible;
  }

  .menu-btn {
    display: flex;
    justify-content: flex-end;
    background-color: transparent;
    font-size: 2rem;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }

  body.menu-open .menu-btn {
    display: none;
  }

  body.menu-open .x-btn {
    visibility: visible;
  }

  .modal-content {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 52px -8px rgba(141, 137, 137, 0.75) inset;
  }

  .Sumbit-btn {
    margin-top: 40px;
  }
}
